SoapUiMocks/wsdl/inoutParamsServiceWsdl/inoutParamsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="inOutParams" targetNamespace="urn:ActicleInsert" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:ActicleInsert" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:S1="urn:soap-fault:details" xmlns:S2="urn:ActicleInsert:inOutParams">
	<wsdl:documentation>Author=Javier Garcia, EncodingType=RPC_LITERAL, WSA_Product=11.6 - Fri Oct 16 18:10:06 EDT 2015</wsdl:documentation>
	<wsdl:types>
		<schema elementFormDefault="unqualified" targetNamespace="urn:soap-fault:details" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="FaultDetail">
				<sequence>
					<element name="errorMessage" type="xsd:string"/>
					<element name="requestID" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema elementFormDefault="unqualified" targetNamespace="urn:ActicleInsert:inOutParams" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="getCurrency_ttFrwParam">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="ttFrwRow" type="S2:getCurrency_ttFrwRow"/>
				</sequence>
			</complexType>
			<complexType name="getCurrency_ttFrwRow">
				<sequence>
					<element name="cFrw" nillable="true" type="xsd:string"/>
					<element name="cBez" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="getLanguage_ttSprcdParam">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="ttSprcdRow" type="S2:getLanguage_ttSprcdRow"/>
				</sequence>
			</complexType>
			<complexType name="getLanguage_ttSprcdRow">
				<sequence>
					<element name="iSprcd" nillable="true" type="xsd:int"/>
					<element name="cBez" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="inOutParams_getCurrency">
		<wsdl:part name="ipFirma" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="inOutParams_getCurrencyResponse">
		<wsdl:part name="opERROR" type="xsd:boolean"/>
		<wsdl:part name="opMESSAGE" type="xsd:string"/>
		<wsdl:part name="ttFrw" type="S2:getCurrency_ttFrwParam"/>
	</wsdl:message>
	<wsdl:message name="inOutParams_getLanguage">
		<wsdl:part name="ipSprcd" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="inOutParams_getLanguageResponse">
		<wsdl:part name="opERROR" type="xsd:boolean"/>
		<wsdl:part name="opMESSAGE" type="xsd:string"/>
		<wsdl:part name="ttSprcd" type="S2:getLanguage_ttSprcdParam"/>
	</wsdl:message>
	<wsdl:message name="inOutParams_getCountry">
		<wsdl:part name="iopCountryId" type="xsd:int"/>
	</wsdl:message>
	<wsdl:message name="inOutParams_getCountryResponse">
		<wsdl:part name="opERROR" type="xsd:boolean"/>
		<wsdl:part name="opMESSAGE" type="xsd:string"/>
		<wsdl:part name="iopCountryId" type="xsd:int"/>
		<wsdl:part name="opCountryCode" type="xsd:string"/>
		<wsdl:part name="opCountryName" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="FaultDetailMessage">
		<wsdl:part name="FaultDetail" type="S1:FaultDetail"/>
	</wsdl:message>
	<wsdl:portType name="inOutParams">
		<wsdl:operation name="getCurrency" parameterOrder="ipFirma opERROR opMESSAGE ttFrw">
			<wsdl:input message="tns:inOutParams_getCurrency"/>
			<wsdl:output message="tns:inOutParams_getCurrencyResponse"/>
			<wsdl:fault name="inOutParamsFault" message="tns:FaultDetailMessage"/>
		</wsdl:operation>
		<wsdl:operation name="getLanguage" parameterOrder="ipSprcd opERROR opMESSAGE ttSprcd">
			<wsdl:input message="tns:inOutParams_getLanguage"/>
			<wsdl:output message="tns:inOutParams_getLanguageResponse"/>
			<wsdl:fault name="inOutParamsFault" message="tns:FaultDetailMessage"/>
		</wsdl:operation>
		<wsdl:operation name="getCountry" parameterOrder="iopCountryId opERROR opMESSAGE opCountryCode opCountryName">
			<wsdl:input message="tns:inOutParams_getCountry"/>
			<wsdl:output message="tns:inOutParams_getCountryResponse"/>
			<wsdl:fault name="inOutParamsFault" message="tns:FaultDetailMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="inOutParams" type="tns:inOutParams">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCurrency">
			<soap:operation soapAction="" style="rpc"/>
			<wsdl:input>
				<soap:body use="literal" namespace="urn:ActicleInsert:inOutParams"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="urn:ActicleInsert:inOutParams"/>
			</wsdl:output>
			<wsdl:fault name="inOutParamsFault">
				<soap:fault name="inOutParamsFault" use="literal" namespace="http://zugtstweb:7085/inOutParams"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getLanguage">
			<soap:operation soapAction="" style="rpc"/>
			<wsdl:input>
				<soap:body use="literal" namespace="urn:ActicleInsert:inOutParams"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="urn:ActicleInsert:inOutParams"/>
			</wsdl:output>
			<wsdl:fault name="inOutParamsFault">
				<soap:fault name="inOutParamsFault" use="literal" namespace="http://zugtstweb:7085/inOutParams"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCountry">
			<soap:operation soapAction="" style="rpc"/>
			<wsdl:input>
				<soap:body use="literal" namespace="urn:ActicleInsert:inOutParams"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="urn:ActicleInsert:inOutParams"/>
			</wsdl:output>
			<wsdl:fault name="inOutParamsFault">
				<soap:fault name="inOutParamsFault" use="literal" namespace="http://zugtstweb:7085/inOutParams"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InOutParamsService">
		<wsdl:port name="inOutParams" binding="tns:inOutParams">
			<wsdl:documentation/>
			<soap:address location="http://zugtstweb:7085/inOutParams"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
